@{
    ViewBag.Title = "Home Page";
}

<html>
    <body>
        <h3>Please type a query to search:</h3><br />
        <form action="/Home/Results">
            <input type="text" name="query" /><br />
            <input type="hidden" name="page" value="1" />
            <input type="submit" value="Submit" /><br />
        </form>
    </body>
</html>